

 .container{
    color: white;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    

    margin-top: 4px;
    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 25px;

    background: center/cover no-repeat url("./online-recruitment.jpg"); 

    
     opacity: 0.9;  
 }  